.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* .nav-container.scrolled {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
} */



.logo {
  font-size: 30px;
  font-weight: bold;
  color: #E39B62;
}

.nav-link {
  padding: 8px 16px;
  color: #E39B62;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link {
  display: inline-block;
  transition: transform 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
}

.nav-link:hover {
  border-radius: 4px;
  transform: scale(1.1);
  letter-spacing: 1px;
  color: #2E2E2E;
}


.dropdown-btn {
  background: #E39B62;
  color: #FFFFFF;
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.dropdown-btn:hover {
  transform: scale(1.05);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  
}

.dropdown.open .dropdown-menu {
  display: block;
  backdrop-filter: blur(18px); /* Թեթև աղոտ էֆեկտ */
  border: 1px solid rgba(255, 255, 255, 0.2); 
  background: #928f8f;
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
}

.dropdown-item {
  color: #fff;
  padding: 8px 18px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(227, 155, 98, 0.3);
}

.button {
  background-color: #E39B62;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #C07B50;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
    font-size: 28px;
    color: #E39B62;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav.nav-open {
    display: flex;
  }

  .nav-link {
    text-align: center;
  }

  .dropdown-btn {
    display: block;
  }
  .dropdown-menu {
    display: none; 
  }
  .dropdown.open .dropdown-menu {
    display: block;
  }

  .dropdown {
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu-toggle {
    display: block; 
  }
}

@media (min-width: 1025px) {
  .menu-toggle {
    display: none; 
  }
}