/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #3A3A3A;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Top Bar */
.top-bar {
  display: flex;
  position: relative;
  height: 40px;
  background-color: white;
  margin-bottom: 0;
  z-index: 999; /* Բարձրացնում ենք top-bar-ի `z-index`-ը */
}

.left-panel {
  height: 100%;
  width: 30%;
  background-color: #3A3A3A;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 24px;
  overflow-x: auto;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.icon {
  color: #FFB373;
}

.link {
  color: #3A3A3A;
  text-decoration: none;
}

.link:hover {
  color: #FFB373;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-left: 20px;
  margin-left: 600px;
}

.social-icons .icon {
  color: #ffb373; /* Icon-ների հիմնական գույնը */
  font-size: 24px;
  transition: color 0.3s ease; /* Հարթ անցում hover-ի ժամանակ */
  display: block;
}

.social-icons .icon:hover {
  color: #3A3A3A; /* Hover-ի ժամանակ գույնը փոխվում է */
}









